In [1]:
import pandas as pd
# import tensorflow as tf
from packages import wrappers, models, ta

In [2]:
btcusd_df = wrappers.get_df_from_cryptowatch()

In [3]:
btcusd_df = models.add_TA(btcusd_df)
prepped_df = models.prepare_for_model(btcusd_df, '2020-01-01', 200)
prepped_df

             Target    Close        Volume       ATR_14            OBV
Date
2020-06-15   9328.4   9330.4  2.508402e+07   425.260601  495820.391088
2020-06-16   9425.3   9425.3  9.054159e+07   437.377701  505644.285371
2020-06-17   9527.5   9528.5  5.282200e+07   420.993580  511207.665854
2020-06-18   9453.1   9453.1  5.074686e+07   414.022610  505815.252863
2020-06-19   9381.5   9381.5  3.429032e+07   399.578138  502162.355945
...             ...      ...           ...          ...            ...
2020-12-27  26442.2  26441.2  2.478542e+08  1309.948187  672519.342625
2020-12-28  26238.0  26251.4  3.859725e+08  1410.566174  658261.344008
2020-12-29  27028.9  27029.5  2.120934e+08  1410.132876  666132.685508
2020-12-30  27376.2  27376.2  2.323766e+08  1420.123385  674831.138111
2020-12-31  28880.0  28879.9  2.935313e+08  1434.836000  685259.529333

[200 rows x 5 columns]

In [4]:
models.generate_model('btcusd', prepped_df, '2020-01-01', 200, force_overwrite=True)

This set of models is completely trained already.
Set force_overwrite to True if you want to overwrite it.

  0%|          | 0/200 [00:00<?, ?it/s]

In [5]:
pd.read_pickle('./models/btcusd_2020-01-01-linear-200/btcusd.pkl')

  0%|          | 0/200 [00:00<?, ?it/s]

LinearRegression()

In [6]:
lr = models.load_model('btcusd', '2020-01-01', 200)